body
{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
.container_base
{
    display: flex;
    justify-content: space-evenly;
    min-width: 800px;
}
.index_content
{
  padding: 10px;
  max-width: 800px;
  margin: auto;
}
#footer
{
  clear: both;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
.lista-tematow
{
  float: left;
  width: 500px;
  font-size: 20px;
  text-decoration: none;
  border: 1 px solid #000;
  height: 500px;
  overflow-y:auto;
}
.content_div {
  margin: auto;
  min-width: 800px;
}
.approach_div {
  margin: auto;
  max-width: 1000px;
}
.approach_task {
  margin: auto;
  max-width: 450px;
}
.navigation-class_kod
{
  float: left;
  width: 15%;
  height: 500px;
}

.topic_scroll
{
  max-height: 400px;
  width: 18%;
  overflow: auto;
}

.container_index
{
    height: 500px;
    overflow-y:auto;
    margin: auto;
}

.wrapper {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	overflow: hidden;
	max-height: 500px;
  overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th {
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td, th {
    padding: 1em 1.5em;
    text-align: left;
}

tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(50,98,149,.3);
}

td.rank {
	text-transform: capitalize;
}
#my_container
{
    margin: auto;
    width: 50%;
    text-align: center;
 }

.output
{
  float: right;
  margin-top: 150px;
  margin-right: 50px;
  overflow-wrap: break-word;
  max-width: 350px;
}
.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: #c2c3c4;
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.code_text {
  background-color: black;
  border-radius: 3px;
  color: #c2c3c4;
  font-family: "Monospace";
  padding: 5px;
  margin: 5px;
}