body
{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#logo
{
  width: 996px;
  height: 100px;
  border: 2px solid black;
}
#logo_napis
{
  width: 800px;
  float: left;
  margin-top: 15px;
  background-position: center;
  padding: 10px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  color: black;
}
#logo_foto
{
  float: left;
  width: 100px;
  margin-left: 30px;
  padding: 10px;
}
#nav
{
  clear: both;
  float: left;
  background-color: lightgrey;
  width: 160px;
  min-height: 620px;
  padding: 10px;
}
#content
{
  float: left;
  padding: 20px;
  width: 600px;
}
#ad
{
  float: left;
  width: 160px;
  min-height: 620px;
  padding: 10px;
  background-color: lightgray;
}
#footer
{
  clear: both;
  width: 960px;
  padding: 10px;
  color: white;
  text-align: center;

}
.tile
{
  width: 140px;
  height: 30px;
  padding: 10px;
  background: none;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #3498db;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 15px;
}
.tile:hover
{
  color: #fff;
  background-color: #3498db;
}
.tile_a
{
  text-decoration: none;
}
.tile_a:hover
{
  color: #fff;
}
.log
{
  display: inline-block;
  height: 20px;
  background-color: orange;
  padding: 5px;
  border-radius: 3px;
  margin:0 auto;
  margin-bottom: 5px;
}
.log_a
{
  text-decoration: none;
  color: #fff;
}