body
{
  background-image: url("/static/img/tlo.png");
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
#container
{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#content
{
  float: left;
  padding: 20px;
  width: 800px;
}
#footer
{
  clear: both;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
.lista-tematow
{
  float: left;
  width: 500px;
  font-size: 20px;
  text-decoration: none;
}
.ikonka-python
{
  float: left;
  margin-left: 100px;
  margin-top: 100px;
}
.navigation-class
{
  float: left;
  margin-top: 100px;
  margin-right: 20px;
}
.result
{
  float: left;
}
.output
{
  background-color: lightgrey;
  float: right;
  margin-top: 100px;
  padding: 50px;
}
