{% extends 'chapters/baza.html' %}
{% load bootstrap3 %}

{% block header %}
<div class="text-center mb-2">
  <h2>Zarejestruj się</h2>
</div>
{% endblock header %}

{% block content %}
<div class="w-50 mx-auto">
  <form method="post" action="{% url 'users:register' %}" enctype="multipart/form-data" class="form-horizontal" role="form">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}
    {% if p_form.errors %}
      <div class="alert alert-danger" role="alert">{{ p_form.errors }}</div>
    {% endif %}
    <div class="form-group align-self-center w-100">
          <label for="inputUsername" >Username *</label>
          {{ form.username }}
    </div>
    <div class="clearfix d-flex justify-content-center">
        <div class="form-group mr-2 align-self-center w-100">
          <label for="inputPassword1" >Password *</label>
          {{ form.password1 }}
        </div>
        <div class="form-group ml-2 align-self-center w-100">
          <label for="inputPassword1" >Password *</label>
          {{ form.password2 }}
        </div>
    </div>

      <div class="clearfix d-flex ">
            * - wymagane
        </div>
    <button name="submit" class="btn btn-primary">Register</button>
    <input type="hidden" name="next" value="{% url 'chapters:index' %}">
</form>
</div>
{% endblock content %}
