asgiref==3.2.10
beautifulsoup4==4.8.2
django-bootstrap3==14.2.0
django-bootstrap4==2.3.1
django-next-prev==1.1.0
Django < 4.0
importlib-metadata==1.7.0
Pillow==8.0.1
pytz==2019.2
numpy==1.19.3
zipp==0.6.0
whitenoise==5.2.0
gunicorn