{% extends 'chapters/topic.html' %}


{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block nav %}
<ul class="list-group">
    {% for topic in topics %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'chapters:approach' topic.id %}">{{ topic }}</a>
            <span class="badge badge-primary badge-pill">
            {% for i in topic.userapproach_set.all %}
            {% if i.user == request.user and i.points_awarded %}
                {{ i.points_earned }}
            {% endif %}
            {% endfor %}
                /{{ topic.points }}</span>
     {% endfor %}
        </li>
</ul>
<div style="text-align: center; padding-top:10px;">
<span class="badge badge-light" style="font-size: 20px;">Points:</span>
  {% if user.profile.points > 0 %}
    <span class="badge badge-success" style="font-size: 20px;">{{ user.profile.points }}</span>
  {% else %}
    <span class="badge badge-danger" style="font-size: 20px;">{{ user.profile.points }}</span>
  {% endif %}
 </div>
{% endblock nav %}

{% block content %}

  <p>{{ topic.text|linebreaks }}</p>

  <form action="{% url 'chapters:approach' topic.id %}" method="post">
      <div>
      {% csrf_token %}
      {{ form.as_p }}
        <script>
              var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
                    mode: "python",
                    theme: "xq-light",
                    lineNumbers: true,
                    autoCloseBrackets: true
                });
                editor.setSize("800", "350");
          </script>
      </div>

      <button name="submit" class="btn btn-info">Run</button>
  </form>

{% endblock content %}

{% block result %}
  <div class="output">
    <h2>Output: </h2>
    <h6 class="output_a">{{ res|linebreaks }}</h6>
  </div>
{% endblock result %}