<!DOCTYPE HTML>
{% load static %}
{% load bootstrap3 %}
{% load bootstrap4 %}

<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/63f4a26a2d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <link href="{% static 'codemirror/lib/codemirror.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'codemirror/mode/python/python.js' %}"></script>

    <link href="{% static 'codemirror/theme/xq-light.css' %}" rel="stylesheet">

    <title>Aplikacja do nauki Pythona</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body style="background-image: url('{% static 'img/tlo.png' %}');">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'chapters:index' %}">Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:index' %}">Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:chapters' %}">Chapters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:literatura' %}">Literatura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:index' %}">Kodowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:index' %}">Pomoc</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'users:profile' %}">Hello, {{ user.username }}.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}">Wyloguj się</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Zarejestruj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Zaloguj się</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close"  aria-label="Close">
        <span aria-hidden="true" data-dismiss="alert">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}
<div class="navigation-class">
    {% block nav %}{% endblock nav %}
</div>
<div class="container">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        {% block header %}{% endblock header %}
    </div>
    <div>
    {% block result %}{% endblock result %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div>

<div id="footer">
    <img src="{% static 'img/logoPWr.png' %}">
</div>

</div>
</body>
</html>