<!DOCTYPE HTML>
{% load static %}
{% load bootstrap3 %}
{% load bootstrap4 %}

<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">


    <!-- Code Mirror -->
    <script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <link href="{% static 'codemirror/lib/codemirror.css' %}" rel="stylesheet">
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/closebrackets.js' %}"></script>
    <link href="{% static 'codemirror/theme/base16-dark.css' %}" rel="stylesheet">


    <!-- Night Mode-->
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <title>Aplikacja do nauki Pythona</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
{% include "chapters/navbar.html" %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close"  aria-label="Close">
        <span aria-hidden="true" data-dismiss="alert">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}

<div class="pb-2 mt-4 mb-2 border-bottom margin-auto mx-auto w-50">
    {% block header %}{% endblock header %}
</div>
<div class="container_base">
    <div class="navigation-class">
    {% block nav %}{% endblock nav %}
    </div>

    <div class="content_div">
        {% block content %}{% endblock content %}
    </div>

    <div class="result_div">
        {% block result %}{% endblock result %}
    </div>
</div>

<div id="footer">
</div>

<script type="text/javascript" language="JavaScript" src="{% static 'js/index.js' %}"></script>
</body>
</html>