<!DOCTYPE HTML>
{% load static %}
{% load bootstrap3 %}
{% load bootstrap4 %}

<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/63f4a26a2d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <link href="{% static 'codemirror/lib/codemirror.css' %}" rel="stylesheet">
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror/addon/edit/closebrackets.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

    <link href="{% static 'codemirror/theme/xq-light.css' %}" rel="stylesheet">

    <title>Aplikacja do nauki Pythona</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
{% include "chapters/navbar.html" %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close"  aria-label="Close">
        <span aria-hidden="true" data-dismiss="alert">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}
<div class="navigation-class">
    {% block nav %}{% endblock nav %}
</div>
<div class="container">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        {% block header %}{% endblock header %}
    </div>
    <div>
    {% block result %}{% endblock result %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</div>

<div id="footer">
</div>

</div>
</body>
</html>