<html lang="pl">
{% extends "chapters/baza.html" %}
{% load  chapters_extras %}

<head>
    <meta charset="utf-8"/>
</head>

{% block header %}
  <h2>Chapters:</h2>
{% endblock header %}

{% block content %}
<ul>
    {% for chapter in chapters %}
    <a class="ch_button_a" href="{% url 'chapters:topic' chapter.id %}"><button type="button" class="btn btn-primary mb-2">
      {{ chapter }} <span class="badge badge-light ml-2">
        {% get_chapter_points_tag chapter user %} / {{ chapter.get_chapter_points }}</span>
    </button></a>
    {% empty %}
      <li>No chapters have been added yet.</li>
    {% endfor %}
</ul>

{% endblock content %}
</html>