{% extends "chapters/baza.html" %}
{% load static %}

{% block header %}
  <div class="jumbotron" style="background-image: url({% static 'img/python 50.png' %}); background-position-x: center;">
    <h1 style="text-align: center; font-size: 55px; font-weight: bold;">Aplikacja do nauki Pythona</h1>
  </div>
{% endblock header %}


{% block content %}
<div style="text-align: center;">
  <h2>
    Nauczysz się Pythona od podstaw
  </h2>
  {% if user.is_authenticated %}
    {% if user.profile.points == 0 %}
      <h2><a href="{% url 'chapters:approach' 1 %}">Zacznij naukę</a> od zaraz.</h2>
    {% else %}
      <h2><a href="{% url 'chapters:approach' last_topic_id %}">Kontynuuj naukę</a></h2>
    {% endif %}
  {% else %}
    <h2>
      <a href="{% url 'users:register' %}">Zarejestruj konto</a> aby rozpocząć naukę
      i notować swoje postępy.
    </h2>
  {% endif %}
</div>

<div class="container_index">
  <div class="wrapper">
  <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>User</th>
          <th>Points</th>
          <th>Education</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        {% if user == request.user %}
          <tr style="background-color: orange">
          <td class="rank">{{ forloop.counter }}.</td>
          <td class="team">
            <img title="profile image" src="{{ user.profile.profile_image.url }}" class="avatar img-circle img-thumbnail" alt="avatar" height="25" width="25">
             {{ user.username }}</td>
          <td class="points">{{ user.profile.points }}</td>
          <td class="points">{{ user.profile.get_education_display }}</td>
        </tr>
        {% else %}
          <tr>
          <td class="rank">{{ forloop.counter }}.</td>
          <td class="team">
            <img title="profile image" src="{{ user.profile.profile_image.url }}" class="avatar img-circle img-thumbnail" alt="avatar" height="25" width="25">
             {{ user.username }}</td>
          <td class="points">{{ user.profile.points }}</td>
          <td class="points">{{ user.profile.get_education_display }}</td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
  </table>
  </div>
</div>
{% endblock content %}

