{% extends 'chapters/baza.html' %}
{% load static %}


{% block header %}
  <h1>Literatura</h1>
{% endblock header %}


{% block content %}
  <ul class="list-group w-50 mx-auto">
    <li class="d-flex justify-content-between align-items-center mb-2" style="font-size: 20px;">
      Python Crash Course
      <div class="image-parent ml-2" >
          <a title= "Odwiedź świat książki"
             href="https://www.swiatksiazki.pl/python-crash-course-a-hands-on-project-based-introduction-to-programming-2nd-edition-6536742-ksiazka.html">
          <img src="{% static 'img/python-crash-course.jpg' %}" alt="quixote" height="150" width="100"></a>
      </div>
    </li>
    <li class="d-flex justify-content-between align-items-center mb-2" style="font-size: 20px;">
      Data science od podstaw: analiza danych w Pythonie
      <div class="image-parent ml-2">
        <a title= "Odwiedź świat książki"
           href="https://www.swiatksiazki.pl/data-science-od-podstaw-analiza-danych-w-pythonie-wydanie-2-6625783-ksiazka.html">
          <img src="{% static 'img/data-science.jpg' %}" alt="lay" height="150" width="100"></a>
    </div>
    </li>
  </ul>

{% endblock content %}