{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand bg-image hover-zoom" href="{% url 'chapters:index' %}">
    <img title="home page" src="{% static 'img/python.png' %}" class="avatar img-circle img-thumbnail"
         alt="avatar" height="40" width="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:chapters' %}">Rozdziały</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:literatura' %}">Literatura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:kodowanie' %}">Kodowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:pomoc' %}">Pomoc</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="text-center ">
          <img title="profile image" src="{{ user.profile.profile_image.url }}" class="avatar img-circle img-thumbnail"
               alt="avatar" height="40" width="40">
        </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:auth_user_change' user.id %}">Witaj, {{ user.username }}.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}">Wyloguj się</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Zaloguj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Zarejestruj się</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>