<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'chapters:index' %}">Strona główna <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:index' %}">Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:chapters' %}">Chapters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:literatura' %}">Literatura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:index' %}">Kodowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'chapters:index' %}">Pomoc</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="text-center">
          <img title="profile image" src="{{ user.profile.profile_image.url }}" class="avatar img-circle img-thumbnail" alt="avatar" height="40" width="40">
        </li>
      <li class="nav-item">
        <a class="nav-link " href="{% url 'users:profile' %}">Hello, {{ user.username }}.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:logout' %}">Wyloguj się</a>
      </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:register' %}">Zarejestruj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Zaloguj się</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>