{% extends "chapters/baza.html" %}
{% load static %}

{% block header %}
  <h2>{{ chapter }}: </h2>
{% endblock header %}


{% block content %}
<div>
    <div class="lista-tematow">
        <ul class="list-group">
            {% for topic in topics %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'chapters:approach' topic.id %}">{{ topic }}</a>
                <span class="badge badge-primary badge-pill">14</span>
            </li>
            {% empty %}
              <li>No topics have been added yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="ikonka-python">
        <img src="{% static 'img/ikonka_python.png' %}">
    </div>
</div>
{% endblock content %}