{% extends 'chapters/baza.html' %}


{% block header %}
<div class="text-center mb-2">
  <h1>Code Mirror</h1>
</div>
{% endblock header %}



{% block content %}
<div class="d-flex flex-wrap justify-content-center">
  <div id="console" class="terminal">
    {% if res %}
        {{ res|linebreaks }}
    {% else %}
      <p>Tutaj pojawi się rezultat....</p>
      {% endif %}
    </div>

  <form action="{% url 'chapters:kodowanie' %}" method="post">
    <div class="approach_code_pomoc">
    {% csrf_token %}
    {{ form.as_p }}
      <script>
            var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
                  mode: "python",
                  theme: "erlang-dark",
                  lineNumbers: true,
                  autoCloseBrackets: true,
                  lineWrapping: true
              });
              editor.setSize(null, 500);
        </script>
    </div>

    <button name="submit" class="btn btn-info float-left">Uruchom</button>
</form>
</div>
{% endblock content %}

{% block result %}
<div class="console">
  <header>
    <p>Terminal</p>
  </header>
  <div class="consolebody">
    <p >{{ res|linebreaks }}</p>
  </div>
</div>
{% endblock result %}