{% extends 'chapters/baza.html' %}
{% block header %}
<div class="text-center mb-2">
  <h1>Pomoc dla "{{ chapter.name }}"</h1>
</div>
{% endblock header %}

{% block content %}
<div class="code_pomoc">
    <textarea id="code_pomoc">
{{ chapter.pomoc_text }}
    </textarea>
</div>
<script>
        var editor = CodeMirror.fromTextArea(document.getElementById('code_pomoc'), {
            mode: "python",
            theme: "erlang-dark",
            lineNumbers: true,
            autoCloseBrackets: true,
            lineWrapping: true
        });
        editor.setSize("100%", "100%");
    </script>

{% endblock content %}