{% extends "chapters/baza.html" %}
{% load static %}
{% load  chapters_extras %}

{% block header %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Początek</a></li>
    <li class="breadcrumb-item">
      <a href="{% url 'chapters:chapters' %}">Rozdziały</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ chapter }}</li>
  </ol>
</nav>
  <h2>{{ chapter }}: </h2>
{% endblock header %}

{% block content %}
<div class="index_content">
  <div style="height: 500px; overflow-y:auto;">
    <table style="max-height: 500px; overflow: auto;">
      <tbody>
        {% for topic in topics %}
        <tr>
            <td class="team">
                <a href="{% url 'chapters:approach' topic.id %}">{{ forloop.counter }}. {{ topic }}</a>
                <span class="badge badge-primary badge-pill ml-2 float-right">
                {% get_topic_points_tag topic user %}
                    /{{ topic.points }}</span>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
</div>
{% endblock content %}
